<div class="p-6 max-w-4xl mx-auto">
    <h1 class="text-2xl font-bold mb-4">Loan Requests</h1>

    <table class="w-full bg-white shadow rounded text-left">
        <tr class="bg-gray-100">
            <th class="p-3">Borrower ID</th>
            <th class="p-3">Amount</th>
            <th class="p-3">Duration</th>
            <th class="p-3">Risk Score</th>
            <th class="p-3">Risk Level</th>
            <th class="p-3">Purpose</th>
            <th class="p-3">Actions</th>
        </tr>

        {% for loan in loans %}
        <tr class="border-b">
            <td class="p-3 font-semibold text-blue-700">
                {{ loan.borrower.borrower_code }}
            </td>

            <td class="p-3">KES {{ loan.amount }}</td>

            <td class="p-3">{{ loan.duration_months }} months</td>

            <td class="p-3">{{ loan.risk_score }}/100</td>

            <td class="p-3">
                {% if loan.risk_level == "Low" %}
                    <span class="px-2 py-1 bg-green-100 text-green-700 rounded">
                        Low
                    </span>
                {% elif loan.risk_level == "Medium" %}
                    <span class="px-2 py-1 bg-yellow-100 text-yellow-700 rounded">
                        Medium
                    </span>
                {% else %}
                    <span class="px-2 py-1 bg-red-100 text-red-700 rounded">
                        High
                    </span>
                {% endif %}
            </td>

            <td class="p-3">{{ loan.purpose|default:"(Not provided)" }}</td>

            <td class="p-3">
                <a href="/lender/approve/{{ loan.id }}/"
                   class="px-3 py-1 bg-green-600 text-white rounded mr-2">
                    Approve
                </a>

                <a href="/lender/reject/{{ loan.id }}/"
                   class="px-3 py-1 bg-red-600 text-white rounded">
                    Reject
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
