{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 p-4">
<main  class=" w-full h-screen flex flex-col items-center justify-center px-4">
  <div class="bg-gray-800 p-6 rounded-3xl max-w-sm w-full text-gray-600 space-y-5">
      {% if error %}
    <p class="text-red-500 text-center">{{ error }}</p>
    {% endif %}
    <form method="post" class="space-y-5">
                {% csrf_token %}
     <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Login To Your Account</h2>
      <div>
        <label class="font-medium text-gray-300"> Username </label>
        <input
                placeholder="username"
                name="username"
          type="text"
          required
          class="w-full mt-2 px-3 py-2 rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:outline-none transition-all duration-200"
        />
      </div>
      <div>
        <label class="font-medium text-gray-300"> Password </label>
        <input
          type="password"
          placeholder="Password"
          name="password"
          required
          class="w-full mt-2 px-3 py-2 rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:outline-none transition-all duration-200"
        />
      </div>
      <div class="flex items-center justify-between text-sm">
        <div class="flex items-center gap-x-3">
          <input
            type="checkbox"
            id="remember-me-checkbox"
            class="checkbox-item peer hidden"
          />
          <label
            for="remember-me-checkbox"
            class="relative flex w-5 h-5 bg-white peer-checked:bg-blue-600 rounded-md border ring-offset-2 ring-blue-600 duration-150 peer-active:ring cursor-pointer after:absolute after:inset-x-0 after:top-[3px] after:m-auto after:w-1.5 after:h-2.5 after:border-r-2 after:border-b-2 after:border-white after:rotate-45"
          ></label>
          <span>Remember me</span>
        </div>
        <a
          href=""
          class="text-center text-blue-600 hover:text-blue-500"
          >Forgot password?</a
        >
      </div>
      <button
        class="w-full px-4 py-2 text-white font-medium bg-blue-600 hover:bg-blue-500 active:bg-blue-600 rounded-lg duration-150"
      >
        Sign in
      </button>
    </form>
    <button
      class="w-full flex items-center justify-center gap-x-3 py-2.5 border rounded-lg text-sm font-medium hover:bg-gray-50 duration-150 active:bg-gray-100"
    >
      <!-- SVG for Google Sign In -->
      <img
        src="https://raw.githubusercontent.com/sidiDev/remote-assets/7cd06bf1d8859c578c2efbfda2c68bd6bedc66d8/google-icon.svg"
        alt="Google"
        class="w-5 h-5"
      />
      <!-- Comment: Google Icon SVG here -->
      Continue with Google
    </button>
    <p class="text-center">
      Don't have an account?
      <a
        href="{% url 'register' %}"
        class="font-medium text-blue-600 hover:text-blue-500"
        >Sign up</a
      >
    </p>
  </div>
</main>
</body>
</html>
